@section Css{
    <link href="~/streamingHub/lib/alertifyjs/build/css/alertify.min.css" rel="stylesheet" />
    <link href="~/streamingHub/lib/alertifyjs/build/css/themes/default.min.css" rel="stylesheet" />
    <link href="~/streamingHub/Content/css/Custom.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="bg-white box-shadow">
            <div class="bg-light conn-type" style="font-size:medium;">
                <button type="button" class="btn btn-dark">Connection Type <span class="badge badge-secondary">Audio</span></button>
        <span class="navbar-text text-right">
            <span id="upperUsername"></span>
        </span>
            </div>
    </div>
<div class="row-fluid">
    <div class="span3">
        <div class="card card-body bg-light actions">
            <div id="callstatus" class="status">Idle</div>
            <button class="btn btn-danger hangup">Hang Up</button>
        </div>
        <div class="card card-body bg-light user-list">
            <ul id="usersdata" class="list-group">
                <li class="list-group-item">Online Users <small id="usersLength"></small></li>
                <li class="list-group-item user" data-cid="" data-username="">
                    <a href="#">
                        <div class="username"></div>
                        <div class="helper" data-bind="css: $parent.getUserStatus($data)"></div>
                    </a>
                </li>
            </ul>
        </div>
        
    </div>
    <div class="span9 mt-3" style="text-align:center;">
        <div class="row-fluid">
            <div class="span6">
                <h5>Partner</h5>
                <audio class="audio partner" autoplay="" controls=""></audio>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/streamingHub/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/streamingHub/lib/alertifyjs/build/alertify.min.js"></script>
    <script src="~/streamingHub/Content/js/utilsRTC.js"></script>
    <script src="~/streamingHub/Content/js/constWebRTC.js"></script>
    <script src="~/streamingHub/lib/adapter/adapter.min.js"></script>
    <script src="~/streamingHub/Content/js/connectionHub.js"></script>
    <script src="~/streamingHub/Content/js/Custom.js"></script>
}

